/* CSS files add styling rules to your content */

body {
  margin: 0em;
}

.cover {
  height: 400px;
  background-image: url(https://cdn.glitch.com/d2f41466-8da5-49b6-a9f7-c34397bae9c6%2Frsz_1jerry-wang-lxih6qhz6ko-unsplash.jpg?v=1610206955695);
  color: white;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
}

.card {
  box-shadow: 0 4px 6px -1px rbga(0, 0, 0, 0.1),
    0 2px 4px -1px rbga(0, 0, 0, 0.06);
}


.cover-small{
  height:200px;
  background-blend-mode: normal;
}