/* CSS files add styling rules to your content */

body {
  margin: 0em;
  font-family: "Noto Sans", sans-serif;
}

h1,h2,h3,h4,h5{
  font-family: 'Fjalla One', sans-serif;
}

.cover {
  height: 400px;
  background-image: url(https://cdn.glitch.com/d2f41466-8da5-49b6-a9f7-c34397bae9c6%2Frsz_1jerry-wang-lxih6qhz6ko-unsplash.jpg?v=1610206955695);
  color: white;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
}

.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.1);
}

.cover-small {
  height: 250px;
  background-blend-mode: normal;
}

.card-title {
  min-height: 2.5rem;
}

.card-text {
  min-height: 5rem;
}

.stripe-container{
  display:flex;
}

.stripe-container .card{
  width:300px;
  flex-shrink:0;
  margin-right
}
